:root {
  --baby-blue: rgb(129, 135, 241);
  --dark-blue: rgba(0, 0, 255, 0.2);
}

body {
  background-color: lightblue;
}

.hidden {
  display: none;
}

.center-top {
  margin: auto;
  width: 50%;
  height: 50%;
  text-align: center;
}

.background-scroll {
  height: 20%;
  width: 10%;
  left: -1500px;
  top: -300px;
  position: fixed;
  display: none;
  transform: translate(1000px, 500px);
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.row {
  display: flex;
}

.column {
  width: 500px;
}

.column2 {
  flex: 30%;
}

h1 {
  color: #000080;
}

h2 {
  color: var(--baby-blue);
}

img {
  height: 60%;
  width: 60%;
}

iframe {
  margin-top: 1em;
}

.loading-mask {
  background: url(./images/Loading2....gif) center center no-repeat;
  background-size: 200px 200px;
}

button {
  background-color: white;
  border: none;
  border-radius: 8px;
  color: navy;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button:hover {
  background-color: var(--baby-blue);
  color: white;
}

a {
  color: var(--baby-blue);
}

.footer {
  position: fixed;
  bottom: 0;
  width: 97%;
  color: var(--baby-blue);
  text-align: right;
}

.card {
  width: 200px;
  height: 50px;
  border-radius: 5px;
  padding: 20px;
  margin: 5%;
  box-shadow: 12px 12px 2px 1px var(--dark-blue);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: rgb(165, 238, 221);
  color: navy;
}

.completed-todo {
  background-color: green;
  color: white;
}

.incomplete-todo {
  background-color: rgb(255, 183, 0);
  color: red;
}

.card:hover {
  box-shadow: 12px 12px 2px 1px var(--dark-blue);
}

#bg-video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-fit: cover;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.moveable-image {
  position: absolute;
}
