body {
  background-color: lightblue;
}

.center-top {
  margin: auto;
  width: 50%;
  height: 50%;
  text-align: center;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.row {
  display: flex;
}

.column {
  width: 500px;
}

.column2 {
  flex: 30%;
}

h1 {
  color: #000080;
}

h2 {
  color: rgb(129, 135, 241);
}

img {
  height: 60%;
  width: 60%;
}

iframe {
  margin-top: 1em;
}

.loading-mask {
  background: url(./images/Loading2....gif) center center no-repeat;
  background-size: 200px 200px;
}

button {
  background-color: navy;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button:hover {
  background-color: rgb(30, 30, 194);
  color: white;
}

a {
  color: rgb(129, 135, 241);
}

.footer {
  position: fixed;
  bottom: 0;
  width: 97%;
  color: rgb(129, 135, 241);
  text-align: right;
}

.card {
  width: 200px;
  height: 50px;
  border-radius: 5px;
  padding: 20px;
  margin: 5%;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: rgb(165, 238, 221);
  color: navy;
}

.completed-todo {
  background-color: green;
  color: white;
}

.incomplete-todo {
  background-color: rgb(255, 183, 0);
  color: red;
}

.card:hover {
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 139, 0.5);
}
